html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

*, *:before, *:after {
    box-sizing: initial;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(41, 99, 33);
    color: rgb(221, 237, 241);
}

h1 {
    font-size: 3rem;
}


.container {
    max-width: 600px;
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

.feedback {
    display: none;
}

#itemInput, .btn {
    font-size: 1rem;
    border: 1px solid rgb(42, 70, 57);
    text-transform: capitalize;
}

#itemInput {
    width: 85%;
    padding: 7px;
    margin-right: -10px;
}

.btn {
    padding: 7px 10px;
}

.btn:hover {
    background-color: #ADEFD1FF;
    cursor: pointer;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item-icon {
    font-size: 1.2rem;
    cursor: pointer;
}

.complete-item {
    color: #ADEFD1FF;
}

.edit-item {
    color: rgb(55, 76, 95);
}

.delete-item {
    color: rgb(43, 33, 33);
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.visibility {
    opacity: 0.8;
}

.show-item {
    display: block;
}

#clear-items {
    margin-top: 10px;
}
